:root {
  --blue: #2C3056;
  --blue2: #2272FF;
  --orange: #FF5F1F;
  --black: #000000;
  --grey: #ACADAF;
  --white: #FFF;
}

/*
* LOCAL FONTS
*/

@font-face {
    font-family: "QUARTZO";
    src: url(../public/fonts/QuartzoBold.ttf);
}

/* ----------- */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
    color: var(--orange) ;
    font-size: 40px;
}

h2 .logoFont {
    font-family: 'QUARTZO', sans-serif;
    -webkit-text-stroke: 2px var(--blue2);
    -webkit-text-fill-color: white;
}

h3 {
    font-size: 32px;
}

a {
   text-decoration: none;
}

p {
    font-size: 24px;
    font-weight: 300;
}

p span {
    font-weight: 600;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding-top: 200px;
  padding-bottom: 200px;
}

section::after {
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}

/*
SCROLLING
*/

html {
    scroll-behavior: smooth;
}

/* ############## */
/* MOBILE SUPPORT */
/* ############## */


@media screen and (max-width: 765px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }
}
